## Build output
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

## Visual Studio / Rider / VS Code
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.DotSettings.user

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
project.lock.json
project.fragment.lock.json

## Publish / misc
[Pp]ublish/
*.binlog
*.log
TestResults/

## OS
Thumbs.db
.DS_Store
